<!--This is the "homepage" for the send email feature of the MVC application.-->
@{
    ViewData["Title"] = "Email Service";
}

<h2>Welcome to the Email Service!</h2>
<p>
     Although functionality is extremely limited, you can indeed send emails through gmail! I am sticking with the current configuration for the API, 
     but that configuration will be independent from the Email Service. Any client application can simply add the Email service class library and have
     the functionality of sending an email (provided they set up their configuration)!
</p>

<a asp-action="SendEmail">Send Email!</a>
